##
## Development meta files
##
*.*~*
*.*~
*.swp
.project
.DS_Store
./nbproject
.buildpath
.project
nbproject
nbproject/*
npm-debug.log
node_modules

##
## Internal use
##
./.settings/
/talks/
!/talks/README
#/_docs
.sqldb
