##
## Development meta files
##
*.*~*
*.*~
*.swp
.project
.DS_Store
./nbproject
.buildpath
.project
nbproject
nbproject/*
npm-debug.log
node_modules
ppw/_themes/thm-felipenmoura
ppw/_themes/trans-page-felipenmoura
/report/*

##
## Internal use
##
./.settings/
/talks/
!/talks/README
#/_docs
.sqldb
/ppw/tmp/
!/ppw/tmp/README
