/*
    Document   : ppw
    Created on : Sep 20, 2012
    Author     : Felipe N. Moura <felipenmoura@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.fulfill{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    page-break-after: always;
    page-break-inside: avoid;
}

    @page{
        size: A4 landscape;
        margin: 0px !IMPORTANT;
        padding: 0px !IMPORTANT;
    }

    /* 1(ONE) slide per page */
    body.printing-1{
        overflow: auto !IMPORTANT;
        width: 297mm !IMPORTANT;
        height: 200mm !IMPORTANT;
    }
    /*body.printing-1 *{
        background: white !IMPORTANT;
    }*/

    .printing-1 .ppw-slides-container{
        width: 100% !IMPORTANT;
        height: 100% !IMPORTANT;
    }
    .printing-1 .ppw-slide-container{
        width: 100% !IMPORTANT;
        height: 100% !IMPORTANT;
    }

    .printing-1 .ppw-slide-container:not(.ppw-slide-not-in-profile){
        display: block !IMPORTANT;
        width: 100% !IMPORTANT;
        height: 100% !IMPORTANT;
        overflow: hidden !IMPORTANT;
        margin: 0px !IMPORTANT;

        page-break-after: always;
        page-break-inside: avoid;
    }

    .printing-1 .ppw-slide-container:not(.ppw-slide-not-in-profile),
    .printing-1 .ppw-slide-container:not(.ppw-slide-not-in-profile) section{
        visibility: visible !IMPORTANT;
        clear: both !IMPORTANT;
        float: none !IMPORTANT;
        border-radius: 0px !IMPORTANT;
        position: relative !IMPORTANT;
        height: 100% !IMPORTANT;
        width: 100% !IMPORTANT;
        box-shadow: none !IMPORTANT;
        display: block !IMPORTANT;
        border: none !IMPORTANT;
        /*background: white !IMPORTANT;*/
    }

    @media screen{
        .printing-1 .ppw-slide-container:not(.ppw-slide-not-in-profile),
        .printing-1 .ppw-slide-container:not(.ppw-slide-not-in-profile) section{
            border-bottom: dashed 2px gray !IMPORTANT;
        }
    }

    /* 4(FOUR) slides per page */
    body.printing-4{
        overflow: auto !IMPORTANT;
        width: 100% !IMPORTANT;
    }
    .printing-4 .ppw-slide-container:not(.ppw-slide-not-in-profile),
    .printing-4 .ppw-slide-container:not(.ppw-slide-not-in-profile) section{
        visibility: visible !IMPORTANT;
        border-radius: 0px !IMPORTANT;
        position: relative !IMPORTANT;
        box-shadow: none !IMPORTANT;
        display: block !IMPORTANT;
        visibility: visible !IMPORTANT;
        background: white !IMPORTANT;
        color: black;
    }
    /* A4 sizes: 210mm × 297mm   ///   8.27in × 11.69in*/
    .printing-4 .ppw-slide-container:not(.ppw-slide-not-in-profile){
        page-break-inside: avoid;
        float: left !IMPORTANT;
        border: none !IMPORTANT;
        width: 120mm !IMPORTANT;
        height: 85mm !IMPORTANT;
        padding: 2px !IMPORTANT;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .printing-4 .ppw-slide-container:not(.ppw-slide-not-in-profile) section{
        width: 430mm !IMPORTANT;
        height: 280mm !IMPORTANT;
        border: solid 1px black !IMPORTANT;
    }
    .printing-4 .ppw-slide-container:not(.ppw-slide-not-in-profile) section{

        -webkit-transform-origin: 0px 0px;
        -webkit-transform: scale(0.3);
        -moz-transform-origin: 0px 0px;
        -moz-transform: scale(0.3);
        -ms-transform-origin: 0px 0px;
        -ms-transform: scale(0.3);
        -o-transform-origin: 0px 0px;
        -o-transform: scale(0.3);
        transform-origin: 0px 0px;
        transform: scale(0.3);
    }

.ppw-red{
    font-weight: bold;
    color: red;
}

.ppw-green{
    font-weight: bold;
    color: green;
}

.ppw-platform:not(.ppw-focusable), .ppw-platform:not(.ppw-clickable){
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ppw-focusable, .ppw-clickable{
    -webkit-touch-callout: text !IMPORTANT;
    -webkit-user-select: text !IMPORTANT;
}




@media screen{
    html, body {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }
}

#ppw-splash-screen{
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    left: 0px;
    top: 0px;
    z-index: 99999995;
    /*background: url(../_images/ppw-gray-bg.png);*/
    /*background: url(../_images/splash-screen-bg-3.png);*/
    background: url(../_images/splash-screen-bg.jpg);
    /*background: url(../_images/ppw-gray-bg.png);*/
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    font-family: sans-serif, Arial, Tahoma;
}
#ppw-splash-screen a, #ppw-splash-screen a:active, #ppw-splash-screen a:visited{
    color: black;
    font-family: sans-serif, Arial, Tahoma;
}

#ppw-splash-screen-container{
    border-bottom: solid 1px #666666;
    width: 100%;

    margin: auto;
    position: relative;
    top: 0px;
    /*background: url(../_images/top-bg.jpg);*/
    background-color: rgba(250, 250, 250, 0.5);

    /*
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
    */

    box-shadow: 0px 16px 70px #333;
}

.ppw-powered-by{
    text-align: right;
    width: 400px;
    position: absolute;
    right: 6px;
    bottom: 4px;
}

#ppw-splash-screen-container h1{
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif, Arial, Tahoma, Verdana;
}
#ppw-splash-screen-menu{
    height: 232px;
}
#ppw-menu-icon-list{
    height: 230px;
    width: 540px;
    margin: auto;
}
#ppw-menu-icon-list div{
    width: 250px;
    height: 100px;
    border: solid 1px gray;
    margin: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 20px gray;
    text-shadow: 0px 0px 2px black;

    float: left;
    border-radius: 7px;
    cursor: pointer;

    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ppw-menu-help-icon{

    -webkit-background-origin: border-box;
    -moz-background-origin: border;
    background-origin: border-box;
    background: url(../_images/help-icon.png) no-repeat -50px 0px, -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: url(../_images/help-icon.png) no-repeat -50px 0px, -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: url(../_images/help-icon.png) no-repeat -50px 0px, linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));

    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    padding-top: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ppw-menu-help-icon:hover{
    background-color: #ff9090;
}

.ppw-menu-start-icon{

    -webkit-background-origin: border-box;
    -moz-background-origin: border;
    background-origin: border-box;
    background: url(../_images/start-icon.png) no-repeat -40px 0px, -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: url(../_images/start-icon.png) no-repeat -40px 0px, -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: url(../_images/start-icon.png) no-repeat -40px 0px, linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));

    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    padding-top: 55px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ppw-menu-start-icon:hover{
    background-color: #aadfaa;
}


.ppw-menu-open-icon{

    -webkit-background-origin: border-box;
    -moz-background-origin: border;
    background-origin: border-box;
    background: url(../_images/tools-icon.png) no-repeat -90px 0px, -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: url(../_images/tools-icon.png) no-repeat -90px 0px, -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: url(../_images/tools-icon.png) no-repeat -90px 0px, linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));

    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    padding-top: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ppw-menu-open-icon:hover{
    background-color: #8888ff;
}

.ppw-menu-conf-icon{
    background: url(../_images/config-icon.jpg) no-repeat -20px -10px #fff;

    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    padding-top: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ppw-menu-conf-icon:hover{
    box-shadow: 0px 0px 10px black !IMPORTANT;
}

#ppw-arrows-container{
    position: absolute;
    z-index: 99999992;

    width: 100%;
    height: 0px;
    bottom: 6px;
    left: 0px;
    overflow: visible;
}

#ppw-arrow-previous-slide{
    position: absolute;
    font-size: 40px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-color: rgba(100, 100, 100, 0.7);
    border: solid 2px white;
    border-radius: 120px 120px;
    text-align: center;
    padding-top: 4px;
    color: white;
    margin-top: -60px;
    cursor: pointer;
    opacity: 0.4;

    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}

#ppw-arrow-next-slide{
    position: absolute;
    font-size: 32px;
    right: 0px;
    width: 60px;
    height: 60px;
    background-color: rgba(100, 100, 100, 0.7);
    border: solid 2px white;
    border-radius: 120px 120px;
    text-align: center;
    padding-top: 10px;
    color: white;
    margin-top: -60px;
    cursor: pointer;
    opacity: 0.4;

    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}

#ppw-arrow-next-slide:hover, #ppw-arrow-previous-slide:hover{
    background-color: #000;
    opacity: 1;
}

/*#ppw-menu-icon-list div:hover{
    border: solid 1px black;
    background-color: #f0f9f9;
}*/
#ppw-tests{
    width: 100% !IMPORTANT;
    height: 30px;
    margin: auto;
    padding-top: 20px;
    cursor: default;
    text-align: center;
}
#ppw-tests span{
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    border-right: solid 1px black;
}
#ppw-tests span:last-child{
    border-right: none !IMPORTANT;
}
#ppw-tests span:hover{
    text-decoration: underline;
}

#ppw-message-box{
    position: absolute;
    font-family: sans-serif, Arial, Tahoma;
    z-index: 999999996;
    left: 50%;
    top: 0%;
    margin-left: -125px;
    min-height: 40px;
    min-width: 400px;
    max-width: 500px;


    /*
    border: solid 4px black;
    border-style: double;
    border-radius: 6px;
    box-shadow: -5px -5px 40px black;
    */
    box-shadow: 0px 0px 100px 10px black;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    padding: 6px 20px 6px 20px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#ppw-message-box.warning{
    box-shadow: 0px 0px 100px 10px darkorange;
    border: solid 1px yellow;
    border-top: none;
}
#ppw-message-box.error{
    box-shadow: 0px 0px 100px 10px red;
    border: solid 1px red;
    border-top: none;
}

#ppw-message-box input[type=button],
#ppw-message-box input[type=submit],
#ppw-message-box input[type=reset]{
    border-radius: 4px;
    height: 18px;
    border: solid 1px #8888ff;

    background: rgb(184,225,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C */
}

#ppw-message-box input[type=button]:hover,
#ppw-message-box input[type=submit]:hover,
#ppw-message-box input[type=reset]:hover{
    box-shadow: 0px 0px 7px #6ba8e5;
}

#ppw-message-content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space: normal !IMPORTANT
}
#ppw-message-box-ok-button{
    clear: both;
    margin-top: 6px;
}
#ppw-message-box-ok-button input[type=button]{
    clear: both;
    position: relative;
    left: 50%;
    width: 80px;
    margin-left: -40px;
}



#ppw-resolution-test-element{
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    border: solid 4px red;
}
#ppw-resolution-test-element>div{
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
}
#ppw-resolution-test-element>div:nth-child(1){
    background-color: white;
    color: black;
    text-align: right;
}
#ppw-resolution-test-element>div:nth-child(2){
    background-color: black;
    color: white;
}
#ppw-resolution-test-element>div img{
    position: absolute;
    bottom: 6px;
    left: 50%;
    margin-left: -150px;
}
#ppw-resolution-test-element>div>div{
    width: 100%;
    position: absolute;
    bottom: 60px;
}
#ppw-resolution-sizes{
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #ddf;
    border: solid 1px blue;
    padding: 4px;
}


#ppw-camera-tool{
    position: absolute;
    left: 20px;
    top: -270px;
    width: 262px;
    height: 196px;
    overflow: visible;
    /*border: solid 1px black;
    box-shadow: 0px 0px 20px black;*/
    z-index: 999999996;
}
#ppw-camera-tool video{
    width: 100%;
    height: 100%;
    background-color: black;
}
#ppw-camera-hide-trigger{
    height: 6px;
    border: solid 1px gray;
    background-color: #F44;
    margin-top: -6px;
    text-align: center;
    padding-bottom: 2px;
    cursor: pointer !IMPORTANT;
    position: absolute;
    bottom: -7px;
    width: 100%;
}

#ppw-camera-tool .ui-resizable-s{
    bottom: -15px !IMPORTANT;
}
#ppw-camera-tool .ui-resizable-handle:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

#ppw-addons-container{
    width: 100%;
    font-size: 90%;
    text-align: center;
    margin: 0px;
    margin-top: 16px;
    clear: both;
    color: #444 !IMPORTANT;
    font-style: italic !IMPORTANT;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}
#ppw-addons-container>div, #ppw-addons-container>span{
    padding: 0px 6px 0px 6px !IMPORTANT;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
}

#ppw-slides-loader-bar{
    width: 250px;
    background: url(../_images/top-bg.jpg);
    height: 60px;
    margin: auto;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 0px 0px 12px 12px;

    margin-top: -61px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#ppw-slides-loader-bar-container{
    height: 60px;
    overflow: hidden;
}
#ppw-slides-loader-bar-loading-container{
    width: 220px;
    height: 16px;
    overflow: hidden;
    background: white;
    border-radius: 4px;
    margin: auto;
    margin-top: 6px;
}
#ppw-slides-loader-bar-loading-container div{
    height: 100%;
    width: 0%;
    background: url(../_images/loadingBar.gif) no-repeat;
}

#ppw-settings-form input, #ppw-settings-form select{
    float: right;
}
#ppw-settings-form label{
    float: left;
    height: 20px;
    clear: both;
}
#ppw-settings-form h3{
    margin: 0px;
    line-height: 12px;
}

#ppw-notification-element{
    position: absolute;
    left: -200px;
    bottom: 0px;
    min-width: 52px;
    min-height: 28px;
    padding: 5px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;

    font-family: sans-serif, Arial, Tahoma;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 90, 90, 0.7)), to(rgba(0, 0, 0, 0.7)));
    background: -moz-linear-gradient(to bottom, rgba(90, 90, 90, 0.7), rgba(0, 0, 0, 0.7));
    /*background: rgba(0, 0, 0, 0.6);*/
    color: white;
    border-top: solid 1px black;
    z-index: 999999998;
}
.ppw-notification-close-button{
    background: #222;
    color: white;
    width: 20px;
    height: 34px;
    font-size: 16px;
    margin: -5px;
    margin-left: 3px;
    float: right;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 5px;
    cursor: pointer;
}

/** TOOLBOX **/
#ppw-toolbar-container{
    white-space: normal;
    position: absolute;
    left: 0px;
    top: -250px;
    width: 40px;
    height: 270px;
    z-index: 999999999;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}
#ppw-toolbar-container:focus, #ppw-toolbar-container:active{
    outline: none !important;
}

@media screen and (max-width: 799px){
    /*#ppw-toolbar-container{
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        transform: scale(3);
    }*/
    #ppw-toolbox-icon, #ppw-ct-print{
        display: none;
    }
}

#ppw-toolbar{
    position: relative;
    z-index: 3;
    float: left;
    /*height: 206px;*/
    width: 36px;
    box-shadow: 0px 0px 10px gray;

    border-radius: 0 0 7px 0;

    /*background-color: white;*/
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(206,220,231,1) 1%, rgba(173,183,188,1) 83%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(206,220,231,1)), color-stop(83%,rgba(173,183,188,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(206,220,231,1) 1%,rgba(173,183,188,1) 83%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(206,220,231,1) 1%,rgba(173,183,188,1) 83%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(206,220,231,1) 1%,rgba(173,183,188,1) 83%); /* IE10+ */
    background: linear-gradient(to right, rgba(206,220,231,1) 1%,rgba(173,183,188,1) 83%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#adb7bc',GradientType=1 ); /* IE6-9 */
}
#ppw-toolbar img{
    margin: auto;
    margin-top: 3px;
    width: 26px;
    cursor: pointer;
}
#ppw-toolbar .img{
    text-align: center;
}

#ppw-toolbar .img:hover{
    background: -moz-linear-gradient(left, rgba(206,220,231,0) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,220,231,0)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(206,220,231,0) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(206,220,231,0) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(206,220,231,0) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(206,220,231,0) 0%,rgba(89,106,114,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 */
}
#ppw-toolbar .img:not(:last-child){
    border-bottom: inset 1px rgba(173,183,188,1);
}
#ppw-toolbar .img:last-child {
    border-radius: 0 0 7px 0;
}

#ppw-content-toolbar{
    position: absolute;
    left: 36px;
    top: 0px;
    /*background-color: #fff;*/
    cursor: default;
    z-index: 1;
    box-shadow: 0px 0px 9px 2px gray;
    padding-left: 10px;
    box-sizing: border-box;

    padding-right: 4px;
    /*width: 195px;*/
    height: 30px;
    white-space: nowrap;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
}

.ppw-fb-only{
    width: 160px;
}
.ppw-fb-only #ppw-presentation-social-buttons{
    width: 62px;
}
.ppw-gp-only{
    width: 144px;
}
.ppw-gp-only #ppw-presentation-social-buttons{
    width: 40px;
    margin-top: -4px;
    margin-right: 4px;
}

#ppw-toolbar-container:hover, #ppw-toolbar-container:active{
    top: 0px;
}
#ppw-go-to-slide{
    width: 220px;
}

#ppw-search-container *{
    display: inline;
}
#ppw-search-found{
    clear: both;
}
#ppw-search-slide{
    width: 170px;
    float: left;
    clear: none;
    margin: 0px 0px 0px 8px;
}
#ppw-search-prev, #ppw-search-next{
    cursor: pointer;
    width: 23px;
    height: 18px;
    font-size: 11px;
    margin-left: 4px;
    margin-right: 0px;
}

/** END TOOBOX **/
/* HIDE INVALID SLIDES FOR PROFILE */
.ppw-slide-not-in-profile{
    display: none !IMPORTANT;
    visibility: hidden !IMPORTANT;
    opacity: 0 !IMPORTANT;
    position: absolute !IMPORTANT;
    left: -99000px !IMPORTANT;
    top: -99000px !IMPORTANT;
    width: 1px !IMPORTANT;
    height: 1px !IMPORTANT;
    overflow: hidden !IMPORTANT;
}

/* USED TO FIX THE ISSUE #1 */
.ppw-anim-visible{
    display: block !IMPORTANT;
    visibility: visible !IMPORTANT;
}
/**/

.glass{
    -webkit-background-origin: border-box;
    -moz-background-origin: border;
    background-origin: border-box;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}

#ppw-svg-image-blur{
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.ppw-slide-element{
    overflow: hidden;
}

.ppw-slide-container{
    width: 100%;
    height: 100%;


    page-break-after: always;
    page-break-inside: avoid;

    /*-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;*/
}

.ppw-show-thumbs .ppw-slide-container{
    width: 256px !IMPORTANT;
    height: 178px !IMPORTANT;
    float: left !IMPORTANT;
    overflow: hidden !IMPORTANT;
    margin: 10px !IMPORTANT;
    display: block !IMPORTANT;
    opacity: 1 !IMPORTANT;


    /*-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;*/
}

.ppw-show-thumbs{
    width: 100% !IMPORTANT;
    height: 100% !IMPORTANT;
    opacity: 1 !IMPORTANT;
    /*background-color: #777 !IMPORTANT;*/
    background: url(../_images/ppw-gray-bg.png);
    /*background-size: 100% 100%;*/
    overflow-y: auto !IMPORTANT;
    position: absolute !IMPORTANT;
    left: 0px !IMPORTANT;
    top: 0px !IMPORTANT;
    margin: 0px !IMPORTANT;

    /*-webkit-transform: none !IMPORTANT;
    -moz-transform: none !IMPORTANT;
    -ms-transform: none !IMPORTANT;
    transform: none !IMPORTANT;*/
}
.ppw-show-thumbs div:not(.ppw-slide-not-in-profile) section{
    position: relative !IMPORTANT;
    float: left !IMPORTANT;
    display: block !IMPORTANT;
    margin: 0px !IMPORTANT;
    box-shadow: 0px 0px 0px black !IMPORTANT;
    border: solid 1px black !IMPORTANT;
    overflow: hidden !IMPORTANT;
    border-radius: 0px !IMPORTANT;

    opacity: 1 !IMPORTANT;

    width: 860px !IMPORTANT;
    height: 600px !IMPORTANT;

    -webkit-transform-origin: 0px 0px !IMPORTANT;
    -webkit-transform: scale(0.3) translate(0px) scale(1) rotate(0deg) !IMPORTANT;
    -moz-transform-origin: 0px 0px !IMPORTANT;
    -moz-transform: scale(0.3) translate(0px) scale(1) rotate(0deg) !IMPORTANT;
    -ms-transform-origin: 0px 0px !IMPORTANT;
    -ms-transform: scale(0.3) translate(0px) scale(1) rotate(0deg) !IMPORTANT;
    -o-transform-origin: 0px 0px !IMPORTANT;
    -o-transform: scale(0.3) translate(0px) scale(1) rotate(0deg) !IMPORTANT;
    transform-origin: 0px 0px !IMPORTANT;
    transform: scale(0.3) translate(0px) scale(1) rotate(0deg) !IMPORTANT;
}
.ppw-show-thumbs>div:not(.ppw-slide-not-in-profile)
{
    position: relative !IMPORTANT;
    border: solid 1px black;
}
.ppw-show-thumbs>div:not(.ppw-slide-not-in-profile):hover{
    box-shadow: 0px 0px 40px white;
    border: solid 1px black;
}




#ppw-text-only{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    z-index: 99999999;
    white-space: pre;
}
#ppw-ct-text-only{
    cursor: pointer !IMPORTANT;
}

#ppw-ct-text-small{
    font-size: 11px;
    cursor: pointer;
}
#ppw-ct-text-big{
    font-size: 18px;
    cursor: pointer;
}

#ppw-content-toolbar img{
    cursor: pointer;
}

#ppw-slides-container{
    position: relative;
    float: none;
    height: 100%;
}

#ppw-social-buttons{
    float: right;
    width: 100px;
    height: 25px;
}
#ppw-social-buttons .fb-like,
#ppw-presentation-social-buttons .fb-like{
    width: 56px;
    overflow: hidden;
    float: right;
    margin-left: 4px;
}
#ppw-presentation-social-buttons{
    position: absolute !IMPORTANT;
    top: 0px;
    right: 0px;
}

#ppw-social-buttons .gp-button{
    margin-top: 2px;
    float: right !IMPORTANT;
}
.ppw-powered-by-link{
    line-height: 25px;
}
.ppw-powered-by-link a{
    color: white !IMPORTANT;
    font-size: 1em !IMPORTANT;
    letter-spacing: 1px;
    text-decoration: none !IMPORTANT;
    text-shadow: 0px 0px 6px black !IMPORTANT;
}

#ppw-presentation-social-buttons{
    width: 100px;
    float: right;
    overflow: hidden;
    border-left: dotted 2px #eee;
}
#ppw-presentation-social-buttons .fb-like{
    margin-top: 3px;
}
#ppw-presentation-social-buttons .gp-button{
    margin-top: 5px !IMPORTANT;
    float: right !IMPORTANT;
}

.ppw-slide-not-found, .ppw-slide-not-found section{
    /*background: black !IMPORTANT;*/
    color: white !IMPORTANT;
    text-align: left !IMPORTANT;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%) !IMPORTANT; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))) !IMPORTANT; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%) !IMPORTANT; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%) !IMPORTANT; /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%) !IMPORTANT; /* IE10+ */
    background: linear-gradient(135deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%) !IMPORTANT; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ) !IMPORTANT; /* IE6-9 fallback on horizontal gradient */
}
.ppw-slide-not-found:before{
    color: red !IMPORTANT;
    content: "!";
    position: absolute;
    font-weight: bold;
    font-size: 10em;
    width: 100px;
    text-align: center;
    right: 0px;
    bottom: 0px;
}
.ppw-slide-fail{
    color: red !IMPORTANT;
    font-weight: bold !IMPORTANT;
    text-shadow: 0px 0px 2px black !IMPORTANT;
}
.ppw-slide-fail-help{
    text-size: 10px !IMPORTANT;
}
/*.ppw-slide-not-found:after{
    color: white;
    content: "Failed loading slide content!";
}*/

/* focusing/zooming feature */
body, .ppw-active-slide-element-container{
    -webkit-transition: -webkit-transform 500ms linear, -webkit-transform-origin 500ms linear;
    -moz-transition: -moz-transform 500ms linear, -moz-transform-origin 500ms linear;
    -ms-transition: -ms-transform 500ms linear, -ms-transform-origin 500ms linear;
    -o-transition: -o-transform 500ms linear, -o-transform-origin 500ms linear;
    transition: transform 500ms linear, transform-origin 500ms linear;
}


/* REMOTE CONTROL CANVAS */
#ppw-remote-control-canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99999999;
    display: none;
}

BODY.remote-controller iframe{
    visibility: hidden;
}

.remote-controller:not(.ppw-showing-thumb) *{
    -webkit-animation: none !important;
    -webkit-transition: none !important;
    -moz-animation: none !important;
    -moz-transition: none !important;
    -ms-animation: none !important;
    -ms-transition: none !important;
    animation: none !important;
    transition: none !important;
}
.remote-controller:not(.ppw-showing-thumb) .ppw-slide-element,
.remote-controller:not(.ppw-showing-thumb) .ppw-slide-container,
.remote-controller:not(.ppw-showing-thumb) #ppw-slides-container,
.remote-controller:not(.ppw-showing-thumb) .ppw-active-slide-element-container{
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    display: none;
    opacity: none !important;
    margin: 0px !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}
.remote-controller:not(.ppw-showing-thumb) .ppw-active-slide-element-container section,
.remote-controller:not(.ppw-showing-thumb) #ppw-slides-container,
.remote-controller:not(.ppw-showing-thumb) .ppw-active-slide-element-container{
    display: block !important;
}