.ppw-slide-element{
}

.ppw-active-slide-element{
    z-index: 99999980;
}

/**/
.ppw-slide-container{
    display: none;
    position:absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999900;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@-webkit-keyframes slideChange{
    0% {
        -webkit-transform: scale(2);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes slideChange{
    0% {
        -moz-transform: scale(1.5);
        opacity: 0;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@-ms-keyframes slideChange{
    0% {
        -ms-transform: scale(1.5);
        opacity: 0;
    }
    100% {
        -ms-transform: scale(1);
        opacity: 1;
    }
}

@-o-keyframes slideChange{
    0% {
        -o-transform: scale(1.5);
        opacity: 0;
    }
    100% {
        -o-transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideChange{
    0% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.ppw-theme-slide-change{
    display: block !IMPORTANT;
    -webkit-animation-name: slideChange;
    -webkit-animation-duration: 500ms;
    
    -moz-animation-name: slideChange;
    -moz-animation-duration: 500ms;
    
    -ms-animation-name: slideChange;
    -ms-animation-duration: 500ms;
    
    -o-animation-name: slideChange;
    -o-animation-duration: 500ms;
    
    animation-name: slideChange;
    animation-duration: 500ms;
}