.ppw-slide-element{
    display: block;
}
.ppw-active-slide-element{
    display: block;
}
.ppw-active-slide-element-container{
    z-index: 9 !important;
    opacity: 1;
}

/**/
.ppw-previous-slide-element{

}
.ppw-next-slide-element{

}

body{
    background-color: #999;
}

/**/
.ppw-slide-container{
    display: block;
    position:absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ppw-slide-type-opening{
    text-align: center;
}
.ppw-slide-type-opening h1, .ppw-slide-type-opening h2{
    font-size: 2.4em;
}