/* 
    Document   : ppw
    Created on : Sep 20, 2012
    Author     : Felipe N. Moura <felipenmoura@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

html, body { 
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
#PPW-tool-screen{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999999999999998;
    background-color: #c0c9c9;
    height: 100%;
    width: 100%;
}
#PPW-tool-screen a, #PPW-tool-screen a:active, #PPW-tool-screen a:visited{
    color: black;
    font-family: sans-serif, Arial, Tahoma;
}

#ppw-tool-screen-container{
    border: solid 1px black;
    padding: 20px;
    border-radius: 20px;
    width: 640px;
    height: 360px;
    margin: auto;
    position: relative;
    top: 30px;
    background-color: #e0f9f9;
    box-shadow: 0px 0px 30px black;
}
#ppw-tool-screen-container .footer{
    text-align: center;
}
#ppw-tool-screen-container .footer a{
    color: black;
}
#ppw-tool-screen-container h1{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif, Arial, Tahoma, Verdana;
}
#ppw-tool-screen-menu{
    height: 260px;
}
#ppw-tool-screen-menu div{
    width: 33%;
    float: left;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    border: solid 1px transparent;
    border-radius: 7px;
    cursor: pointer;
}
#ppw-tool-screen-container div img{
    margin: auto;
    clear: both;
}

#ppw-tool-screen-menu div:not(.tests):hover{
    border: solid 1px black;
    background-color: #f0f9f9;
}
#ppw-tool-screen-menu .tests{
    width: 100% !IMPORTANT;
    margin: auto;
    margin-top: 25px;
    cursor: default;
}
#ppw-tool-screen-menu .tests a{
    margin: 0px 10px 0px 10px;
}

#ppw-message-box{
    position: absolute;
    z-index: 9999999999999999;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    min-height: 40px;
    width: 250px;
    border: solid 1px black;
    border-radius: 6px;
    box-shadow: -5px -5px 40px black;
    background-color: #f0f9f9;
    display: none;
    padding: 6px;
}
#ppw-message-box input[type=button]{
    position: relative;
    left: 50%;
    width: 80px;
    margin-left: -40px;
}



#PPW-resolution-test-element{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: solid 3px red;
    display: none;
}
#PPW-resolution-test-element div{
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
}
#PPW-resolution-test-element div:nth-child(1){
    background-color: white;
    color: black;
    text-align: right;
}
#PPW-resolution-test-element div:nth-child(2){
    background-color: black;
    color: white;
}
#PPW-resolution-test-element div img{
    position: absolute;
    bottom: 6px;
    left: 50%;
    margin-left: -150px;
}


#ppw-camera-tool{
    position: absolute;
    left: 20px;
    top: -270px;
    width: 262px;
    height: 196px;
    overflow: visible;
    /*border: solid 1px black;
    box-shadow: 0px 0px 20px black;*/
    z-index: 9999999999999999;
}
#ppw-camera-tool video{
    width: 100%;
    height: 100%;
    background-color: black;
}
#ppw-camera-hide-trigger{
    height: 12px;
    border: solid 1px gray;
    background-color: #E0F9F9;
    margin-top: -6px;
    text-align: center;
    padding-bottom: 2px;
}


.glass{
    -webkit-background-origin: border-box;
    -moz-background-origin: border;
    background-origin: border-box;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}