.ppw-slide-element{
}
/**/
.ppw-slide-container{
    display: none;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
