.ppw-sh-source-container{
    position: relative;
    padding: 0px !IMPORTANT;
    list-style-position: inside;
    white-space: nowrap;

    counter-reset: item;
    overflow: hidden;
}
pre.no-lines .ppw-sh-line{
    border: none !IMPORTANT;
}
pre.no-numbers .ppw-sh-source-container{
    list-style-type: none !IMPORTANT;
}
.ppw-sh-source-container li{
    background-color: white;
}

.sh_sourceCode{
    text-align: left !IMPORTANT;
}

.ppw-sh-line:nth-child(1){
    border-top: solid 1px rgba(100, 100, 100, 0.1);
}

.ppw-sh-line{
    white-space: pre;
    word-break: keep-all;
    margin: 0px !IMPORTANT;
    padding: 0px !IMPORTANT;
    border: solid 1px rgba(100, 100, 100, 0.1);
    border-top: none;
    cursor: default;

    position: relative;
    left: 2em;
    display: block;
    list-style-position: outside;
}

pre:not(.no-numbers) .ppw-sh-line:before{
    content: counters(item, "") ;
    counter-increment: item;
    position: absolute;
    left: -26px;
    width: 20px;
    text-align: right;
    background-color: rgba(100, 100, 100, 0.1);
    padding: 2px;
}

.ppw-sh-line:hover{
    background-color: #f5f5f5 !IMPORTANT;
}

pre:not(.no-numbers) .ppw-sh-focused-line:before{
    background-color: #999 !IMPORTANT;
    color: white;
    font-weight: bold;
}

.ppw-sh-focused-lines li:not(.ppw-sh-focused-line)>div{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px) ;
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.7;

    /*filter: url(#blur-effect-1);*/
}
pre.sh_sourceCode{
    background: transparent;
}

.ppw-sh-editing:focus{
    outline: none !important;
}
.ppw-sh-editing{
    margin-top: 18px;
    margin-left: 14px;
    border-left: solid 24px #eee;
    background-color: white;
    color: #444;
    box-shadow: 4px 4px 20px #444;
    line-height: 28px;
}
.ppw-sh-editable li{
    cursor: text !important;
}